:root body{
    margin: 0;
    padding:0;
}
.container{
    margin: 0 auto;
    max-width: 466px;
}

.container .row{
    display: flex;
    flex-direction: column;
}

.container .row .board-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container .row .board-wrapper form{
    border: 1px solid gray;
}

.container .row .board-wrapper form table{
}

.container .row .board-wrapper form table tr{
}

.container .row .board-wrapper form table td{
    width: 150px;
    height: 150px;
    background-color: lightgrey;
}

.container .row .board-wrapper form table td:hover{
    background-color: rgba(190, 190, 190, 0.35);
}